# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

### yml file ###
/src/main/resources/application-secret.yml


### .env 파일 ###
/.env/